streamlit
pytesseract
Pillow
fpdf
plotly
pandas
numpy
google-generativeai
pdf2image
opencv-python-headless
python-dotenv # For managing API keys securely
 pdfplumber 
 tqdm 


# Flask
# Pillow
# pytesseract

# pdf2image
